# Batting: ISO > .170 , wOBA .340

# Pitching: K% > 22 , ML > -150

## define function to pass df's to and splits out pitchers sorted by era
* different functions for yahoo and fanduel
1. read in 2020 data for pitchers and batters
2. define pitcher function that takes uses pitcher df and input df and splits out proable pitchers and stats, sorted by ERA.
3. create function for batters to output iso and woba
4. create function to imput 4 teams and nes hitter df and print hitters sorted by iso and woba

In [1]:
import pandas as pd

### Only thing to download here, daily data from fanduel or yahoo.

In [3]:
# will need fanduel import
fd = pd.read_csv('../CapStone_Data/FanDuel-MLB-2021 ET-05 ET-04 ET-58318-players-list.csv')

In [6]:
# pitcher data
pitchers = pd.read_csv('FanGraphs Leaderboard pitchers 2021.csv')

In [7]:
# batter data
batters = pd.read_csv('FanGraphs Leaderboard batters 2021.csv')

In [8]:
def fd_pitcher(fd,pitchers):    
    # create filter for probable pitchers
    prob = fd['Probable Pitcher'] == 'Yes'
    # create new df
    dfp = fd[prob]
    # rename nickname to name
    dfp.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by='ERA', inplace=True, ignore_index=True)
    return dfp[['Name', 'Team_x','Position', "FPPG", 'IP', 'ERA','K/9', 'Salary', 'Game']]

In [9]:
fdp = fd_pitcher(fd, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [10]:
fdp

,Name,Team_x,Position,FPPG,IP,ERA,K/9,Salary,Game
0,Tyler Glasnow,TB,P,49.000000,37.2,1.67,13.38,10800,TB@LAA
1,Aaron Civale,CLE,P,36.400000,33.2,2.94,6.95,9500,CLE@KC
2,Walker Buehler,LAD,P,35.200000,31.1,3.16,8.90,10200,LAD@CHC
3,Tyler Anderson,PIT,P,28.800000,26.2,3.38,8.78,8600,PIT@SD
4,Adrian Houser,MIL,P,22.600000,24.2,3.65,6.93,6400,MIL@PHI
5,Steven Matz,TOR,P,32.400000,27.0,4.00,9.00,9300,TOR@OAK
6,Adam Wainwright,STL,P,30.200000,28.2,4.08,10.05,7200,NYM@STL
7,German Marquez,COL,P,28.333333,32.2,4.13,9.09,8200,SF@COL
8,Kenta Maeda,MIN,P,18.400000,23.1,6.56,7.71,6900,TEX@MIN
9,Frankie Montas,OAK,P,24.400000,NaN,NaN,NaN,7500,TOR@OAK
10,Dane Dunning,TEX,P,24.000000,NaN,NaN,NaN,7400,TEX@MIN
11,Kyle Hendricks,CHC,P,17.600000,NaN,NaN,NaN,7100,LAD@CHC
12,Aaron Sanchez,SF,P,24.200000,NaN,NaN,NaN,6800,SF@COL
13,Jose Quintana,LAA,P,13.000000,NaN,NaN,NaN,6700,TB@LAA
14,Joey Lucchesi,NYM,P,13.000000,NaN,NaN,NaN,6100,NYM@STL
15,Vince Velasquez,PHI,P,12.800000,NaN,NaN,NaN,6000,MIL@PHI
16,Dean Kremer,BAL,P,14.250000,NaN,NaN,NaN,5800,BAL@SEA
17,Miguel Diaz,SD,P,NaN,NaN,NaN,NaN,5500,PIT@SD
18,Erik Swanson,SEA,P,9.000000,NaN,NaN,NaN,5500,BAL@SEA

In [10]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['CHC', 'BOS', 'ARI', 'COL']

In [11]:
def fd_batters(fd, batters):
    # filter to just hitters
    hits = fd['Position'] != 'P'
    #overwrite df
    fd = fd[hits]
    # change nick name to name
    fd.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge 
    dfb = fd.merge(batters, how='left', on='Name')
    return dfb

In [12]:
dfb = fd_batters(fd,batters)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [13]:
def team_batter(team_list, dfb):
    # create filter with list
    team_filter = (dfb['Team_x'] == team_list[0]) | (dfb['Team_x'] == team_list[1]) |(dfb['Team_x'] == team_list[2]) |(dfb['Team_x'] == team_list[3])
    # new df with filter
    dfb2 = dfb[team_filter]
    # sort values by iso
    dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)
    # handle injuries
    #dfb2['Injury Indicator'].fillna(0, inplace=True)
    # filter by injury = 0, overwrite existing dfb2
    #dfb2 = dfb2[dfb2['Injury Indicator'] == 0]
    # output just those values and salary
    return dfb2[['Name', 'Team_x', 'Position','FPPG', 'ISO', 'wOBA', 'Salary']]

In [14]:
pd.set_option('display.max_rows', 100)
dfb2 = team_batter(team_list, dfb)
dfb2

<ipython-input-13-9a2e44087087>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)

                 Name Team_x Position       FPPG    ISO   wOBA  Salary
0       J.D. Martinez    BOS       OF  15.230434  0.348  0.462    3800
1         Kris Bryant    CHC       3B  13.054546  0.313  0.419    3800
2        Ryan McMahon    COL    2B/3B  11.829166  0.304  0.373    3400
3     Eduardo Escobar    ARI    3B/2B  11.921740  0.289  0.349    3500
4   Willson Contreras    CHC        C  11.543478  0.286  0.357    3400
5       Rafael Devers    BOS       3B  12.795652  0.271  0.396    3200
6         Javier Baez    CHC       SS  12.695000  0.260  0.329    3600
7       Anthony Rizzo    CHC       1B  10.025000  0.222  0.339    3300
8           C.J. Cron    COL       1B  10.636364  0.219  0.379    3200
9       David Peralta    ARI       OF  11.221739  0.209  0.344    3400
10       Alex Verdugo    BOS       OF  11.517391  0.205  0.374    2800
11    Xander Bogaerts    BOS       SS  10.652174  0.202  0.402    3300
12    Garrett Hampson    COL    2B/OF  11.268182  0.195  0.324    2600
13        Pavin Smith    ARI    1B/OF   7.985714  0.176  0.314    3100
14       Trevor Story    COL       SS   9.229167  0.161  0.314    3800
15   Asdrubal Cabrera    ARI    1B/3B   9.504762  0.153  0.324    2800
16      Jason Heyward    CHC       OF   6.317391  0.149  0.259    2500
17       Raimel Tapia    COL       OF   8.373913  0.136  0.335    2900
18  Christian Vazquez    BOS        C   8.423809  0.132  0.298    2200
19   Charlie Blackmon    COL       OF   7.295238  0.118  0.275    2800
20    Marwin Gonzalez    BOS    1B/OF   7.809524  0.091  0.291    2200
21           Ian Happ    CHC    2B/OF   4.900000  0.041  0.239    2300
22        Ketel Marte    ARI    2B/OF  17.583333    NaN    NaN    4000
23       Carson Kelly    ARI        C  14.022222    NaN    NaN    3800
24       Kole Calhoun    ARI       OF   9.284615    NaN    NaN    2900
25          Dom Nunez    COL        C  10.006250    NaN    NaN    2700
26       Andrew Young    ARI       3B   7.344444    NaN    NaN    2500
27   Christian Walker    ARI       1B   7.470000    NaN    NaN    2500
28     Kike Hernandez    BOS    2B/OF   9.050000    NaN    NaN    2500
29         Josh Rojas    ARI    2B/SS   5.471429    NaN    NaN    2400
30       Nico Hoerner    CHC    2B/SS   8.357143    NaN    NaN    2400
31       Joc Pederson    CHC       OF   5.812500    NaN    NaN    2300
32         Nick Ahmed    ARI       SS   4.875000    NaN    NaN    2300
33       Stephen Vogt    ARI        C   8.433333    NaN    NaN    2300
34     Hunter Renfroe    BOS       OF   6.670588    NaN    NaN    2300
35      Josh VanMeter    ARI       2B   4.515000    NaN    NaN    2200
36       Bobby Dalbec    BOS    1B/3B   5.705000    NaN    NaN    2200
37       Tim Locastro    ARI       OF   7.760000    NaN    NaN    2200
38       Sam Hilliard    COL       OF   3.789474    NaN    NaN    2200
39         David Bote    CHC    2B/3B   5.891304    NaN    NaN    2100
40     Jake Marisnick    CHC       OF   6.622222    NaN    NaN    2100
41   Christian Arroyo    BOS       2B   7.070588    NaN    NaN    2100
42      Yonathan Daza    COL       OF   4.515000    NaN    NaN    2100
43       Josh Fuentes    COL    1B/3B   5.243478    NaN    NaN    2100
44         Nick Heath    ARI       OF   3.942857    NaN    NaN    2100
45         Elias Diaz    COL        C   3.315384    NaN    NaN    2000
46    Geraldo Perdomo    ARI       SS   3.800000    NaN    NaN    2000
47    Franchy Cordero    BOS       OF   4.278948    NaN    NaN    2000
48         Matt Duffy    CHC       3B   3.900000    NaN    NaN    2000
49     Daulton Varsho    ARI       OF   0.000000    NaN    NaN    2000
50         Alan Trejo    COL       SS   1.688889    NaN    NaN    2000
51       Chris Owings    COL    2B/OF  14.100000    NaN    NaN    2000
52      Austin Romine    CHC        C   2.116667    NaN    NaN    2000
53     Michael Chavis    BOS    1B/2B   3.200000    NaN    NaN    2000
54       Tony Wolters    CHC        C   1.533333    NaN    NaN    2000
55        Eric Sogard    CHC    2B/3B   3.391304    NaN    NaN    2000
56     Wyatt Mathisen    ARI    3B/OF   4.755555    NaN    NaN    2000
57     Kevin Plawecki    BOS        C   3.825000    NaN    NaN    2000
58    Ildemaro Vargas    CHC       2B   0.000000    NaN    NaN    2000
59    Brendan Rodgers    COL       2B   2.742857    NaN    NaN    2000

# 35K fanduel salary

In [15]:
# create lineup 
cap = 35_000
# list of players
players = []
# pick pitcher, then add batters list?
players.append(fdp.loc[fdp['Position'] == 'P'].values[0])

In [16]:
players[0]

array(['Kyle Gibson', 'TEX', 'P', 31.6, 27.1, 2.3, 7.57, 9200, 'BOS@TEX'],
      dtype=object)

In [17]:
# try for batters 
# position list then iterate through list and grap positions
position_list = ['1B', '2B', '3B', 'SS', 'OF', 'OF', 'OF']
dfb2['Position'].unique()

array(['OF', '3B', '2B/3B', '3B/2B', 'C', 'SS', '1B', '2B/OF', '1B/OF',
       '1B/3B', '2B/SS', '2B', '1B/2B', '3B/OF'], dtype=object)

In [18]:
dfb2.loc[dfb2['Position'] == '1B'].values[0]

array(['Anthony Rizzo', 'CHC', '1B', 10.02500025431315, 0.222,
       0.33899999999999997, 3300], dtype=object)

In [19]:
for pos in position_list:
    players.append(dfb2.loc[dfb2['Position'] == pos].values[0])

In [20]:
players

[array(['Kyle Gibson', 'TEX', 'P', 31.6, 27.1, 2.3, 7.57, 9200, 'BOS@TEX'],
       dtype=object),
 array(['Anthony Rizzo', 'CHC', '1B', 10.02500025431315, 0.222,
        0.33899999999999997, 3300], dtype=object),
 array(['Josh VanMeter', 'ARI', '2B', 4.51500015258789, nan, nan, 2200],
       dtype=object),
 array(['Kris Bryant', 'CHC', '3B', 13.054546009410512, 0.313, 0.419, 3800],
       dtype=object),
 array(['Javier Baez', 'CHC', 'SS', 12.69499969482422, 0.26,
        0.32899999999999996, 3600], dtype=object),
 array(['J.D. Martinez', 'BOS', 'OF', 15.230434251868207, 0.348, 0.462,
        3800], dtype=object),
 array(['J.D. Martinez', 'BOS', 'OF', 15.230434251868207, 0.348, 0.462,
        3800], dtype=object),
 array(['J.D. Martinez', 'BOS', 'OF', 15.230434251868207, 0.348, 0.462,
        3800], dtype=object)]

In [21]:
# try df
pd.DataFrame(players)

               0    1   2          3       4      5        6       7        8
0    Kyle Gibson  TEX   P  31.600000  27.100  2.300     7.57  9200.0  BOS@TEX
1  Anthony Rizzo  CHC  1B  10.025000   0.222  0.339  3300.00     NaN     None
2  Josh VanMeter  ARI  2B   4.515000     NaN    NaN  2200.00     NaN     None
3    Kris Bryant  CHC  3B  13.054546   0.313  0.419  3800.00     NaN     None
4    Javier Baez  CHC  SS  12.695000   0.260  0.329  3600.00     NaN     None
5  J.D. Martinez  BOS  OF  15.230434   0.348  0.462  3800.00     NaN     None
6  J.D. Martinez  BOS  OF  15.230434   0.348  0.462  3800.00     NaN     None
7  J.D. Martinez  BOS  OF  15.230434   0.348  0.462  3800.00     NaN     None

In [20]:
# next to do is clean pitchers df to only show player team position fppg salary game and do same for batter then throw it in this
# figure out a way to handle dups
# second line up is just next position in .values()
# salary test

# yahoo

In [22]:
# yahoo 
yahoo = pd.read_csv('Yahoo_DF_player_export (7).csv')

In [23]:
yahoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                901 non-null    object
 1   First Name        901 non-null    object
 2   Last Name         901 non-null    object
 3   Position          901 non-null    object
 4   Team              901 non-null    object
 5   Opponent          901 non-null    object
 6   Game              901 non-null    object
 7   Time              901 non-null    object
 8   Salary            901 non-null    int64
 9   FPPG              901 non-null    float64
 10  Probable Pitcher  901 non-null    object
 11  Injury Status     901 non-null    object
 12  Starting          901 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 91.6+ KB

In [24]:
yahoo['Probable Pitcher'].value_counts()

No     438
       436
Yes     27
Name: Probable Pitcher, dtype: int64

In [25]:
# yahoo naming function
def yahoo_name(yahoo):
    # create empty list for names
    player_list = []
    # for each row concat names and append to list 
    for row in yahoo.index:
        player_list.append(yahoo['First Name'][row] + ' ' + yahoo['Last Name'][row])
        # make new column for name
    yahoo['Player'] = player_list
    return yahoo

In [26]:
yahoo = yahoo_name(yahoo)

In [27]:
def yahoo_pitcher(df,pitchers):    
    # create filter for probable pitchers
    prob = df['Starting'] == 'Yes'
    # create new df
    dfp = df[prob]
    # rename nickname to name
    dfp.rename(columns={'Player':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by=['ERA', 'K/9'], inplace=True)
    return dfp[['Name','Team_x', 'FPPG', 'IP', 'ERA','K/9', 'Salary', 'Game']]

In [28]:
yahoo_pitcher(yahoo, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                   Name Team_x  FPPG    IP   ERA    K/9  Salary     Game
21           John Means    BAL  24.3  30.0  1.50   8.70      41  BAL@OAK
14          Gerrit Cole    NYY  34.7  31.2  1.71  14.21      65  DET@NYY
5        Marcus Stroman    NYM  20.1  24.1  2.22   5.55      38  NYM@PHI
12           Yu Darvish     SD  26.8  31.2  2.27  10.52      55    SF@SD
3          Shane Bieber    CLE  35.9  36.1  2.48  14.12      62  CLE@CWS
9              Jon Gray    COL  21.4  28.1  2.54   8.58      34  COL@ARI
0          Jake Arrieta    CHC  20.3  28.0  2.57   8.36      30  CHC@CIN
7           Pablo Lopez    MIA  20.4  27.2  2.93  10.41      41  MIA@WAS
25       Nathan Eovaldi    BOS  19.3  28.2  3.77   8.48      40  BOS@TEX
16       Ryan Yarbrough     TB  13.9  27.1  4.28   6.91      31   HOU@TB
4        Dallas Keuchel    CWS  10.3  25.0  4.32   4.32      37  CLE@CWS
8              Joe Ross    WAS  15.2  21.1  4.64   7.59      33  MIA@WAS
10    Madison Bumgarner    ARI  13.9  25.2  6.31   9.47      31  COL@ARI
1            Wade Miley    CIN  19.2   NaN   NaN    NaN      32  CHC@CIN
2        Freddy Peralta    MIL  22.7   NaN   NaN    NaN      38  LAD@MIL
6        Chase Anderson    PHI   7.2   NaN   NaN    NaN      27  NYM@PHI
11           Logan Webb     SF  13.1   NaN   NaN    NaN      27    SF@SD
13         Tarik Skubal    DET   8.2   NaN   NaN    NaN      29  DET@NYY
15  Lance McCullers Jr.    HOU  15.4   NaN   NaN    NaN      40   HOU@TB
17           Drew Smyly    ATL  11.6   NaN   NaN    NaN      36  ATL@TOR
18           Robbie Ray    TOR  16.1   NaN   NaN    NaN      28  ATL@TOR
19         Brady Singer     KC  20.6   NaN   NaN    NaN      36   KC@MIN
20       Michael Pineda    MIN  21.2   NaN   NaN    NaN      38   KC@MIN
22           Mike Fiers    OAK  11.7   NaN   NaN    NaN      33  BAL@OAK
23        Andrew Heaney    LAA  21.5   NaN   NaN    NaN      45  LAA@SEA
24         Chris Flexen    SEA  19.0   NaN   NaN    NaN      29  LAA@SEA
26        Kohei Arihara    TEX  10.8   NaN   NaN    NaN      26  BOS@TEX

In [31]:
def yahoo_batters(df, batters):
    # filter to just hitters
    hits = df['Position'] != 'P'
    #overwrite df
    df = df[hits]
    # change nick name to name
    df.rename(columns={'Player':'Name'}, inplace=True)
    # merge 
    dfb = df.merge(batters, how='left', on='Name')
    return dfb

In [34]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['TOR', 'MIA', 'NYM', 'BOS']

In [35]:
team_batter(team_list, yahoo_batters(yahoo, batters))

<ipython-input-13-9a2e44087087>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)

                     Name Team_x Position  FPPG    ISO   wOBA  Salary
0           J.D. Martinez    BOS       OF  11.4  0.348  0.462      23
1   Vladimir Guerrero Jr.    TOR       1B  11.0  0.321  0.480      26
2           Rafael Devers    BOS       3B   9.6  0.271  0.396      18
3             Bo Bichette    TOR       SS   9.0  0.253  0.345      20
4             Pete Alonso    NYM       1B   8.0  0.250  0.358      22
5           Jesus Aguilar    MIA       1B   9.0  0.244  0.390      19
6             Adam Duvall    MIA       OF   6.3  0.213  0.274      11
7            Alex Verdugo    BOS       OF   8.6  0.205  0.374      17
8         Xander Bogaerts    BOS       SS   8.2  0.202  0.402      18
9          Randal Grichuk    TOR       OF   7.3  0.200  0.357      19
10          Marcus Semien    TOR       2B   7.8  0.165  0.299      16
11           Cavan Biggio    TOR       3B   5.4  0.136  0.289      13
12         Garrett Cooper    MIA       OF   4.9  0.136  0.272       7
13        Corey Dickerson    MIA       OF   6.4  0.133  0.376      14
14      Christian Vazquez    BOS        C   6.3  0.132  0.298      13
15       Michael Conforto    NYM       OF   5.4  0.125  0.303      15
16          Dominic Smith    NYM       OF   4.6  0.125  0.239      14
17          Brandon Nimmo    NYM       OF   7.7  0.121  0.409      20
18        Marwin Gonzalez    BOS       1B   5.9  0.091  0.291       7
19           Miguel Rojas    MIA       SS   6.6  0.088  0.311      11
20       Francisco Lindor    NYM       SS   5.2  0.058  0.266      12
21    Lourdes Gurriel Jr.    TOR       OF   4.1  0.056  0.217       9
22        Jonathan Villar    NYM       2B   3.3    NaN    NaN      10
23           Kevin Pillar    NYM       OF   1.9    NaN    NaN       7
24      Albert Almora Jr.    NYM       OF   0.7    NaN    NaN       7
25           James McCann    NYM        C   4.1    NaN    NaN      12
26            Jose Peraza    NYM       2B   4.8    NaN    NaN      12
27             J.D. Davis    NYM       3B   7.6    NaN    NaN      20
28             Tomas Nido    NYM        C   2.1    NaN    NaN      13
29         Luis Guillorme    NYM       3B   2.3    NaN    NaN       9
30            Jeff McNeil    NYM       2B   4.8    NaN    NaN      13
31          Jose Martinez    NYM       1B   3.7    NaN    NaN       7
32             Sandy Leon    MIA        C   2.9    NaN    NaN       7
33          Lewis Brinson    MIA       OF   1.4    NaN    NaN       7
34       Magneuris Sierra    MIA       OF   1.6    NaN    NaN       7
35           Chad Wallach    MIA        C   3.3    NaN    NaN       7
36              Jon Berti    MIA       3B   5.0    NaN    NaN      11
37            Jose Devers    MIA       SS   0.6    NaN    NaN       7
38              Isan Diaz    MIA       2B   9.0    NaN    NaN       9
39      Jazz Chisholm Jr.    MIA       2B   9.0    NaN    NaN       7
40           Jorge Alfaro    MIA        C   3.8    NaN    NaN       8
41         Brian Anderson    MIA       3B   4.5    NaN    NaN       7
42         Starling Marte    MIA       OF  10.5    NaN    NaN      18
43              Joe Panik    TOR       3B   3.2    NaN    NaN       9
44           Danny Jansen    TOR        C   1.7    NaN    NaN       7
45         Jonathan Davis    TOR       OF   2.3    NaN    NaN       9
46       Santiago Espinal    TOR       3B   2.6    NaN    NaN      11
47         Alejandro Kirk    TOR        C   3.5    NaN    NaN       9
48      Teoscar Hernandez    TOR       OF   4.7    NaN    NaN      11
49        George Springer    TOR       OF   0.0    NaN    NaN      22
50         Kevin Plawecki    BOS        C   3.0    NaN    NaN       7
51         Kike Hernandez    BOS       OF   6.9    NaN    NaN      10
52         Hunter Renfroe    BOS       OF   4.9    NaN    NaN       7
53       Christian Arroyo    BOS       2B   5.5    NaN    NaN      11
54        Franchy Cordero    BOS       OF   3.2    NaN    NaN       7
55           Bobby Dalbec    BOS       1B   4.5    NaN    NaN      10