In [1]:
import pandas as pd
from LineupBuilder import build_lineup

In [2]:
# test function
fd2 = pd.read_csv('../../../Downloads/FanDuel-MLB-2021 ET-05 ET-06 ET-58417-players-list.csv')

In [3]:
df = build_lineup(fd2)

C:\Users\phill\GitHub_Projects\DFS_MLB_FPPG\Code\LineupBuilder.py:107: RuntimeWarning: divide by zero encountered in longlong_scalars
  avg_sal = salary_cap/sal_count

In [4]:
df

,Id,Position,Name,Salary,Team,Opponent,Projected_FPPG
0,58417-68654,P,John Gant,7300,STL,NYM,38.872440
1,58417-79174,C,Jacob Nottingham,2800,MIL,PHI,26.105398
2,58417-52175,1B,Matt Olson,3500,OAK,TOR,9.676589
3,58417-68587,2B,Ozzie Albies,3200,ATL,WSH,7.963934
4,58417-5104,3B,Pablo Sandoval,2000,ATL,WSH,9.393400
5,58417-37982,SS,Xander Bogaerts,3700,BOS,DET,8.898410
6,58417-5763,OF,Nelson Cruz,3900,MIN,TEX,10.047945
7,58417-60643,OF,Aaron Judge,3900,NYY,HOU,9.199638
8,58417-39086,OF,Byron Buxton,4400,MIN,TEX,12.219521

In [5]:
        template = df[['Position', 'Id']]
        template = template.set_index('Position').T
        template.rename(columns={'C':'C/1B', '1B':'UTIL'}, inplace=True)

In [9]:
template = template[['P', 'C/1B', '2B', '3B', 'SS', 'OF', 'UTIL']]