An attempt to pickel both models.

In [1]:
# IMPORTS
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# modeling function import
from model import modeling_reg

# import metrics
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

# imports for classifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, BaggingRegressor
from sklearn.tree import DecisionTreeRegressor

#import pickel
import pickle

#import lineup function
from LineupBuilder import build_lineup

In [2]:
# read in data for batters and pitchers
batters = pd.read_csv('../Modeling_Data/batter_data_modeling.csv')

In [3]:
# set X , y 
X = batters.drop(columns=['Name','Team','POS','FPPG', 'PTS'])
y = batters['FPPG']

In [4]:
# TTS
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [5]:
# linear regression
linreg = LinearRegression()

In [6]:
linreg.fit(X_train, y_train)

LinearRegression()

In [7]:
# .dump to save model above to file model.p
pickle.dump(linreg, open('model.p', 'wb'))

In [8]:
# check work
pickled_model = pickle.load(open('model.p', 'rb'))
# score
print(f'Score: {pickled_model.score(X_train, y_train):.2f}')
print(f'Score: {pickled_model.score(X_test, y_test):.2f}')
print(f'RMSE : {mean_squared_error(y_test, pickled_model.predict(X_test))}')

Score: 0.93
Score: 0.93
RMSE : 0.61673821984921

In [9]:
# try predictions
testing = pd.read_csv('../CapStone_Data/FanDuel-MLB-2021 ET-05 ET-04 ET-58318-players-list.csv')

In [11]:
build_lineup(testing)

C:\Users\phill\GitHub_Projects\DFS_MLB_FPPG\Code\LineupBuilder.py:104: RuntimeWarning: divide by zero encountered in longlong_scalars
  avg_sal = salary_cap/sal_count

             Id Position              Name  Salary Team Opponent  Proj_FPPG
0   58318-79951        P      Nick Pivetta    8300  BOS      DET  27.943867
1   58318-79174        C  Jacob Nottingham    2500  MIL      PHI  23.842438
2  58318-104483       1B       Jared Walsh    3500  LAA       TB   9.265179
3   58318-68587       2B      Ozzie Albies    3300  ATL      WSH   7.646085
4    58318-5104       3B    Pablo Sandoval    2000  ATL      WSH   8.927933
5   58318-37982       SS   Xander Bogaerts    3500  BOS      DET   8.415627
6    58318-5763       OF       Nelson Cruz    3900  MIN      TEX   9.506211
7   58318-60643       OF       Aaron Judge    3600  NYY      HOU   8.827579
8   58318-39086       OF      Byron Buxton    4300  MIN      TEX  11.413326

## From here we need to merge this with the testing data, only information we need from this is the name, position, salary, team, game, etc
## Need stats for predictions.
## Use previous file

Going to need to do some cleaning for this file, use one that user would import.

match template