# Batting: ISO > .170 , wOBA .340

# Pitching: K% > 22 , ML > -150

## define function to pass df's to and splits out pitchers sorted by era
* different functions for yahoo and fanduel
1. read in 2020 data for pitchers and batters
2. define pitcher function that takes uses pitcher df and input df and splits out proable pitchers and stats, sorted by ERA.
3. create function for batters to output iso and woba
4. create function to imput 4 teams and nes hitter df and print hitters sorted by iso and woba

In [1]:
import pandas as pd

### Only thing to download here, daily data from fanduel or yahoo.

In [2]:
# will need fanduel import
fd = pd.read_csv('../CapStone_Data/FanDuel-MLB-2021 ET-05 ET-04 ET-58318-players-list.csv')

In [11]:
# pitcher data
pitchers = pd.read_csv('../../Modeling_Data/pitcher_test_data.csv')

In [12]:
# batter data
batters = pd.read_csv('../../Modeling_Data/batter_test_data.csv')

In [7]:
def fd_pitcher(fd,pitchers):    
    # create filter for probable pitchers
    prob = fd['Probable Pitcher'] == 'Yes'
    # create new df
    dfp = fd[prob]
    # rename nickname to name
    dfp.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by='ERA', inplace=True, ignore_index=True)
    return dfp[['Name', 'Team_x','Position', "FPPG", 'IP', 'ERA','K/9', 'Salary', 'Game']]

In [8]:
fdp = fd_pitcher(fd, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [9]:
fdp

,Name,Team_x,Position,FPPG,IP,ERA,K/9,Salary,Game
0,Jacob deGrom,NYM,P,61.600000,35.0,0.51,15.17,12500,NYM@STL
1,J.A. Happ,MIN,P,28.250000,23.0,1.96,5.09,7900,TEX@MIN
2,Kyle Gibson,TEX,P,32.500000,27.1,2.30,7.57,8600,TEX@MIN
3,Nick Pivetta,BOS,P,30.000000,25.2,2.81,8.77,8300,DET@BOS
4,Aaron Nola,PHI,P,35.833333,31.2,2.84,9.09,9200,MIL@PHI
5,Huascar Ynoa,ATL,P,29.500000,27.1,2.96,11.20,8000,ATL@WSH
6,Zack Greinke,HOU,P,29.500000,36.2,3.44,6.63,8400,HOU@NYY
7,Cole Irvin,OAK,P,28.600000,27.0,3.67,8.33,7700,TOR@OAK
8,Joe Ross,WSH,P,26.250000,21.1,4.64,7.59,7000,ATL@WSH
9,Mike Minor,KC,P,25.000000,25.2,5.26,9.47,6900,CLE@KC
10,Alex Cobb,LAA,P,22.250000,NaN,NaN,NaN,8000,TB@LAA
11,Domingo German,NYY,P,27.500000,NaN,NaN,NaN,7200,HOU@NYY
12,Eric Lauer,MIL,P,30.000000,NaN,NaN,NaN,6800,MIL@PHI
13,Johan Oviedo,STL,P,26.500000,NaN,NaN,NaN,6500,NYM@STL
14,Justin Dunn,SEA,P,22.000000,NaN,NaN,NaN,6500,BAL@SEA
15,Jorge Lopez,BAL,P,16.000000,NaN,NaN,NaN,6100,BAL@SEA
16,Anthony Kay,TOR,P,7.000000,NaN,NaN,NaN,6000,TOR@OAK
17,Mitch Keller,PIT,P,13.600000,NaN,NaN,NaN,6000,PIT@SD
18,Michael Fulmer,DET,P,14.571429,NaN,NaN,NaN,5800,DET@BOS
19,Shane McClanahan,TB,P,21.000000,NaN,NaN,NaN,5700,TB@LAA
20,Sam Hentges,CLE,P,10.666667,NaN,NaN,NaN,5500,CLE@KC

In [10]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['CHC', 'BOS', 'ARI', 'COL']

In [11]:
def fd_batters(fd, batters):
    # filter to just hitters
    hits = fd['Position'] != 'P'
    #overwrite df
    fd = fd[hits]
    # change nick name to name
    fd.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge 
    dfb = fd.merge(batters, how='left', on='Name')
    return dfb

In [12]:
dfb = fd_batters(fd,batters)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [13]:
def team_batter(team_list, dfb):
    # create filter with list
    team_filter = (dfb['Team_x'] == team_list[0]) | (dfb['Team_x'] == team_list[1]) |(dfb['Team_x'] == team_list[2]) |(dfb['Team_x'] == team_list[3])
    # new df with filter
    dfb2 = dfb[team_filter]
    # sort values by iso
    dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)
    # handle injuries
    #dfb2['Injury Indicator'].fillna(0, inplace=True)
    # filter by injury = 0, overwrite existing dfb2
    #dfb2 = dfb2[dfb2['Injury Indicator'] == 0]
    # output just those values and salary
    return dfb2[['Name', 'Team_x', 'Position','FPPG', 'ISO', 'wOBA', 'Salary']]

In [14]:
pd.set_option('display.max_rows', 100)
dfb2 = team_batter(team_list, dfb)
dfb2

<ipython-input-13-9a2e44087087>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)

                 Name Team_x Position       FPPG    ISO   wOBA  Salary
0       J.D. Martinez    BOS       OF  15.525926  0.348  0.462    4200
1       Rafael Devers    BOS       3B  12.618519  0.271  0.396    3700
2        Alex Verdugo    BOS       OF  11.055556  0.205  0.374    3400
3     Xander Bogaerts    BOS       SS  11.603703  0.202  0.402    3500
4   Christian Vazquez    BOS        C   8.275000  0.132  0.298    2400
5     Marwin Gonzalez    BOS    1B/OF   7.391304  0.091  0.291    2300
6      Kike Hernandez    BOS    2B/OF   8.396296    NaN    NaN    2700
7      Hunter Renfroe    BOS       OF   7.061905    NaN    NaN    2400
8    Christian Arroyo    BOS       2B   6.930000    NaN    NaN    2200
9        Bobby Dalbec    BOS    1B/3B   5.243478    NaN    NaN    2100
10    Franchy Cordero    BOS       OF   3.695455    NaN    NaN    2000
11     Kevin Plawecki    BOS        C   4.066666    NaN    NaN    2000
12     Michael Chavis    BOS    1B/2B   3.200000    NaN    NaN    2000

# 35K fanduel salary

In [15]:
# create lineup 
cap = 35_000
# list of players
players = []
# pick pitcher, then add batters list?
players.append(fdp.loc[fdp['Position'] == 'P'].values[0])

In [16]:
players[0]

array(['Jacob deGrom', 'NYM', 'P', 61.6, 35.0, 0.51, 15.17, 12500,
       'NYM@STL'], dtype=object)

In [17]:
# try for batters 
# position list then iterate through list and grap positions
position_list = ['1B', '2B', '3B', 'SS', 'OF', 'OF', 'OF']
dfb2['Position'].unique()

array(['OF', '3B', 'SS', 'C', '1B/OF', '2B/OF', '2B', '1B/3B', '1B/2B'],
      dtype=object)

In [18]:
dfb2.loc[dfb2['Position'] == '1B'].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [19]:
for pos in position_list:
    players.append(dfb2.loc[dfb2['Position'] == pos].values[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
players

[array(['Jacob deGrom', 'NYM', 'P', 61.6, 35.0, 0.51, 15.17, 12500,
        'NYM@STL'], dtype=object)]

In [21]:
# try df
pd.DataFrame(players)

              0    1  2     3     4     5      6      7        8
0  Jacob deGrom  NYM  P  61.6  35.0  0.51  15.17  12500  NYM@STL

In [20]:
# next to do is clean pitchers df to only show player team position fppg salary game and do same for batter then throw it in this
# figure out a way to handle dups
# second line up is just next position in .values()
# salary test

# yahoo

In [3]:
# yahoo 
yahoo = pd.read_csv('../../../../Downloads/Yahoo_DF_player_export (8).csv')

In [4]:
yahoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                499 non-null    object
 1   First Name        499 non-null    object
 2   Last Name         499 non-null    object
 3   Position          499 non-null    object
 4   Team              499 non-null    object
 5   Opponent          499 non-null    object
 6   Game              499 non-null    object
 7   Time              499 non-null    object
 8   Salary            499 non-null    int64
 9   FPPG              499 non-null    float64
 10  Probable Pitcher  499 non-null    object
 11  Injury Status     499 non-null    object
 12  Starting          499 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 50.8+ KB

In [5]:
yahoo['Probable Pitcher'].value_counts()

No     260
       225
Yes     14
Name: Probable Pitcher, dtype: int64

In [6]:
# yahoo naming function
def yahoo_name(yahoo):
    # create empty list for names
    player_list = []
    # for each row concat names and append to list 
    for row in yahoo.index:
        player_list.append(yahoo['First Name'][row] + ' ' + yahoo['Last Name'][row])
        # make new column for name
    yahoo['Player'] = player_list
    return yahoo

In [7]:
yahoo = yahoo_name(yahoo)

In [8]:
def yahoo_pitcher(df,pitchers):    
    # create filter for probable pitchers
    prob = df['Starting'] == 'Yes'
    # create new df
    dfp = df[prob]
    # rename nickname to name
    dfp.rename(columns={'Player':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by=['ERA'], inplace=True)
    return dfp[['Name','Team_x', 'FPPG_x', 'IP', 'ERA', 'Salary', 'Game']]

In [13]:
yahoo_pitcher(yahoo, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

              Name Team_x  FPPG_x    IP   ERA  Salary     Game
10     Danny Duffy     KC    18.0  41.2  1.94      32   KC@CLE
5   Taijuan Walker    NYM    22.1  54.0  2.17      48  PIT@NYM
8     Max Scherzer    WAS    27.8  77.0  2.22      52   WAS@SD
9       Yu Darvish     SD    25.1  72.0  2.25      51   WAS@SD
2      Tyler Mahle    CIN    20.6  62.1  3.32      44  CIN@MIL
7      Keegan Akin    BAL     6.3  20.0  3.60      25  TOR@BAL
3    Adrian Houser    MIL    14.0  59.0  3.66      29  CIN@MIL
6      Alek Manoah    TOR    21.0   9.1  3.86      41  TOR@BAL
4      JT Brubaker    PIT    17.4  60.0  3.90      36  PIT@NYM
1   Adbert Alzolay    CHC    17.1  57.2  4.06      34  PHI@CHC
0       Zach Eflin    PHI    17.6  68.0  4.10      35  PHI@CHC
11     Zach Plesac    CLE    15.9  58.2  4.14      38   KC@CLE
12    Tarik Skubal    DET    16.5  54.0  4.33      39  DET@MIN
13       J.A. Happ    MIN    10.2  51.1  5.61      29  DET@MIN

In [14]:
def yahoo_batters(df, batters):
    # filter to just hitters
    hits = df['Position'] != 'P'
    #overwrite df
    df = df[hits]
    # change nick name to name
    df.rename(columns={'Player':'Name'}, inplace=True)
    # merge 
    dfb = df.merge(batters, how='left', on='Name')
    return dfb

In [15]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['NYY', 'CWS', 'DET', 'OAK']

In [16]:
def team_batter2(team_list, dfb):
    # create filter with list
    team_filter = (dfb['Team'] == team_list[0]) | (dfb['Team'] == team_list[1]) |(dfb['Team'] == team_list[2]) |(dfb['Team'] == team_list[3])
    # new df with filter
    dfb2 = dfb[team_filter]
    # sort values by iso
    dfb2.sort_values(by=['SLG'], inplace=True, ascending=False, ignore_index=True)
    # handle injuries
    #dfb2['Injury Indicator'].fillna(0, inplace=True)
    # filter by injury = 0, overwrite existing dfb2
    #dfb2 = dfb2[dfb2['Injury Indicator'] == 0]
    # output just those values and salary
    return dfb2[['Name', 'Team', 'Position','FPPG_x', 'SLG',  'Salary']]

In [17]:
team_batter2(team_list,yahoo_batters(yahoo, batters))

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

KeyError: 'Team'