# Batting: ISO > .170 , wOBA .340

# Pitching: K% > 22 , ML > -150

## define function to pass df's to and splits out pitchers sorted by era
* different functions for yahoo and fanduel
1. read in 2020 data for pitchers and batters
2. define pitcher function that takes uses pitcher df and input df and splits out proable pitchers and stats, sorted by ERA.
3. create function for batters to output iso and woba
4. create function to imput 4 teams and nes hitter df and print hitters sorted by iso and woba

In [1]:
import pandas as pd

### Only thing to download here, daily data from fanduel or yahoo.

In [2]:
# will need fanduel import
fd = pd.read_csv('../CapStone_Data/FanDuel-MLB-2021 ET-05 ET-04 ET-58318-players-list.csv')

In [29]:
# pitcher data
pitchers = pd.read_csv('../Modeling_Data/pitcher_test_data.csv')

In [42]:
# batter data
batters = pd.read_csv('../Modeling_Data/batter_test_data.csv')

In [7]:
def fd_pitcher(fd,pitchers):    
    # create filter for probable pitchers
    prob = fd['Probable Pitcher'] == 'Yes'
    # create new df
    dfp = fd[prob]
    # rename nickname to name
    dfp.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by='ERA', inplace=True, ignore_index=True)
    return dfp[['Name', 'Team_x','Position', "FPPG", 'IP', 'ERA','K/9', 'Salary', 'Game']]

In [8]:
fdp = fd_pitcher(fd, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [9]:
fdp

,Name,Team_x,Position,FPPG,IP,ERA,K/9,Salary,Game
0,Jacob deGrom,NYM,P,61.600000,35.0,0.51,15.17,12500,NYM@STL
1,J.A. Happ,MIN,P,28.250000,23.0,1.96,5.09,7900,TEX@MIN
2,Kyle Gibson,TEX,P,32.500000,27.1,2.30,7.57,8600,TEX@MIN
3,Nick Pivetta,BOS,P,30.000000,25.2,2.81,8.77,8300,DET@BOS
4,Aaron Nola,PHI,P,35.833333,31.2,2.84,9.09,9200,MIL@PHI
5,Huascar Ynoa,ATL,P,29.500000,27.1,2.96,11.20,8000,ATL@WSH
6,Zack Greinke,HOU,P,29.500000,36.2,3.44,6.63,8400,HOU@NYY
7,Cole Irvin,OAK,P,28.600000,27.0,3.67,8.33,7700,TOR@OAK
8,Joe Ross,WSH,P,26.250000,21.1,4.64,7.59,7000,ATL@WSH
9,Mike Minor,KC,P,25.000000,25.2,5.26,9.47,6900,CLE@KC
10,Alex Cobb,LAA,P,22.250000,NaN,NaN,NaN,8000,TB@LAA
11,Domingo German,NYY,P,27.500000,NaN,NaN,NaN,7200,HOU@NYY
12,Eric Lauer,MIL,P,30.000000,NaN,NaN,NaN,6800,MIL@PHI
13,Johan Oviedo,STL,P,26.500000,NaN,NaN,NaN,6500,NYM@STL
14,Justin Dunn,SEA,P,22.000000,NaN,NaN,NaN,6500,BAL@SEA
15,Jorge Lopez,BAL,P,16.000000,NaN,NaN,NaN,6100,BAL@SEA
16,Anthony Kay,TOR,P,7.000000,NaN,NaN,NaN,6000,TOR@OAK
17,Mitch Keller,PIT,P,13.600000,NaN,NaN,NaN,6000,PIT@SD
18,Michael Fulmer,DET,P,14.571429,NaN,NaN,NaN,5800,DET@BOS
19,Shane McClanahan,TB,P,21.000000,NaN,NaN,NaN,5700,TB@LAA
20,Sam Hentges,CLE,P,10.666667,NaN,NaN,NaN,5500,CLE@KC

In [10]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['CHC', 'BOS', 'ARI', 'COL']

In [11]:
def fd_batters(fd, batters):
    # filter to just hitters
    hits = fd['Position'] != 'P'
    #overwrite df
    fd = fd[hits]
    # change nick name to name
    fd.rename(columns={'Nickname':'Name'}, inplace=True)
    # merge 
    dfb = fd.merge(batters, how='left', on='Name')
    return dfb

In [12]:
dfb = fd_batters(fd,batters)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [13]:
def team_batter(team_list, dfb):
    # create filter with list
    team_filter = (dfb['Team_x'] == team_list[0]) | (dfb['Team_x'] == team_list[1]) |(dfb['Team_x'] == team_list[2]) |(dfb['Team_x'] == team_list[3])
    # new df with filter
    dfb2 = dfb[team_filter]
    # sort values by iso
    dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)
    # handle injuries
    #dfb2['Injury Indicator'].fillna(0, inplace=True)
    # filter by injury = 0, overwrite existing dfb2
    #dfb2 = dfb2[dfb2['Injury Indicator'] == 0]
    # output just those values and salary
    return dfb2[['Name', 'Team_x', 'Position','FPPG', 'ISO', 'wOBA', 'Salary']]

In [14]:
pd.set_option('display.max_rows', 100)
dfb2 = team_batter(team_list, dfb)
dfb2

<ipython-input-13-9a2e44087087>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb2.sort_values(by=['ISO', 'wOBA'], inplace=True, ascending=False, ignore_index=True)

                 Name Team_x Position       FPPG    ISO   wOBA  Salary
0       J.D. Martinez    BOS       OF  15.525926  0.348  0.462    4200
1       Rafael Devers    BOS       3B  12.618519  0.271  0.396    3700
2        Alex Verdugo    BOS       OF  11.055556  0.205  0.374    3400
3     Xander Bogaerts    BOS       SS  11.603703  0.202  0.402    3500
4   Christian Vazquez    BOS        C   8.275000  0.132  0.298    2400
5     Marwin Gonzalez    BOS    1B/OF   7.391304  0.091  0.291    2300
6      Kike Hernandez    BOS    2B/OF   8.396296    NaN    NaN    2700
7      Hunter Renfroe    BOS       OF   7.061905    NaN    NaN    2400
8    Christian Arroyo    BOS       2B   6.930000    NaN    NaN    2200
9        Bobby Dalbec    BOS    1B/3B   5.243478    NaN    NaN    2100
10    Franchy Cordero    BOS       OF   3.695455    NaN    NaN    2000
11     Kevin Plawecki    BOS        C   4.066666    NaN    NaN    2000
12     Michael Chavis    BOS    1B/2B   3.200000    NaN    NaN    2000

# 35K fanduel salary

In [15]:
# create lineup 
cap = 35_000
# list of players
players = []
# pick pitcher, then add batters list?
players.append(fdp.loc[fdp['Position'] == 'P'].values[0])

In [16]:
players[0]

array(['Jacob deGrom', 'NYM', 'P', 61.6, 35.0, 0.51, 15.17, 12500,
       'NYM@STL'], dtype=object)

In [17]:
# try for batters 
# position list then iterate through list and grap positions
position_list = ['1B', '2B', '3B', 'SS', 'OF', 'OF', 'OF']
dfb2['Position'].unique()

array(['OF', '3B', 'SS', 'C', '1B/OF', '2B/OF', '2B', '1B/3B', '1B/2B'],
      dtype=object)

In [18]:
dfb2.loc[dfb2['Position'] == '1B'].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [19]:
for pos in position_list:
    players.append(dfb2.loc[dfb2['Position'] == pos].values[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [20]:
players

[array(['Jacob deGrom', 'NYM', 'P', 61.6, 35.0, 0.51, 15.17, 12500,
        'NYM@STL'], dtype=object)]

In [21]:
# try df
pd.DataFrame(players)

              0    1  2     3     4     5      6      7        8
0  Jacob deGrom  NYM  P  61.6  35.0  0.51  15.17  12500  NYM@STL

In [20]:
# next to do is clean pitchers df to only show player team position fppg salary game and do same for batter then throw it in this
# figure out a way to handle dups
# second line up is just next position in .values()
# salary test

# yahoo

In [22]:
# yahoo 
yahoo = pd.read_csv('../../../Downloads/Yahoo_DF_player_export (7).csv')

In [23]:
yahoo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                920 non-null    object
 1   First Name        920 non-null    object
 2   Last Name         920 non-null    object
 3   Position          920 non-null    object
 4   Team              920 non-null    object
 5   Opponent          920 non-null    object
 6   Game              920 non-null    object
 7   Time              920 non-null    object
 8   Salary            920 non-null    int64
 9   FPPG              920 non-null    float64
 10  Probable Pitcher  920 non-null    object
 11  Injury Status     920 non-null    object
 12  Starting          920 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 93.6+ KB

In [24]:
yahoo['Probable Pitcher'].value_counts()

No     478
       414
Yes     28
Name: Probable Pitcher, dtype: int64

In [30]:
# yahoo naming function
def yahoo_name(yahoo):
    # create empty list for names
    player_list = []
    # for each row concat names and append to list 
    for row in yahoo.index:
        player_list.append(yahoo['First Name'][row] + ' ' + yahoo['Last Name'][row])
        # make new column for name
    yahoo['Player'] = player_list
    return yahoo

In [31]:
yahoo = yahoo_name(yahoo)

In [40]:
def yahoo_pitcher(df,pitchers):    
    # create filter for probable pitchers
    prob = df['Starting'] == 'Yes'
    # create new df
    dfp = df[prob]
    # rename nickname to name
    dfp.rename(columns={'Player':'Name'}, inplace=True)
    # merge pitchers and dfp
    dfp = dfp.merge(pitchers, how='left', on='Name')
    # sort by ERA and include ks and stuff
    dfp.sort_values(by=['ERA'], inplace=True)
    return dfp[['Name','Team_x', 'FPPG_x', 'IP', 'ERA', 'Salary', 'Game']]

In [41]:
yahoo_pitcher(yahoo, pitchers)

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                  Name Team_x  FPPG_x    IP   ERA  Salary     Game
5        Trevor Rogers    MIA    25.3  33.0  1.91      46  MIL@MIA
11  Anthony DeSclafani     SF    22.6  36.0  2.00      43    SD@SF
14          Wade Miley    CIN    18.3  27.0  2.67      37  CIN@CLE
4          Brent Suter    MIL     5.1  15.2  2.87      31  MIL@MIA
26        Chris Flexen    SEA    15.5  27.0  3.33      33  SEA@TEX
3        Jack Flaherty    STL    22.5  34.1  3.41      52  COL@STL
25         Sean Manaea    OAK    19.4  33.2  3.48      41   TB@OAK
6           Zac Gallen    ARI    20.2  20.2  3.48      46  ARI@NYM
0           Zach Eflin    PHI    19.6  38.2  3.49      36  PHI@ATL
10         Blake Snell     SD    16.7  25.2  3.51      40    SD@SF
19        Jose Urquidy    HOU    16.7  34.0  3.71      34  TOR@HOU
9          Matt Harvey    BAL    14.0  31.0  4.07      25  BOS@BAL
8    Eduardo Rodriguez    BOS    22.0  28.0  4.18      48  BOS@BAL
27    Mike Foltynewicz    TEX    15.7  33.1  4.32      36  SEA@TEX
15         Zach Plesac    CLE    13.8  32.0  4.78      35  CIN@CLE
7       David Peterson    NYM    16.4  24.1  4.81      30  ARI@NYM
1       Charlie Morton    ATL    18.2  33.2  5.08      40  PHI@ATL
13     Jameson Taillon    NYY    15.4  22.1  5.24      31  WAS@NYY
2        Austin Gomber    COL    12.2  29.0  5.90      27  COL@STL
17        Tarik Skubal    DET     6.3  22.0  6.14      27  MIN@DET
23     Griffin Canning    LAA    13.7  20.1  6.20      32  LAD@LAA
18      Ross Stripling    TOR     9.4  12.2  6.40      27  TOR@HOU
24           Rich Hill     TB    11.7  25.1  6.40      31   TB@OAK
16      Matt Shoemaker    MIN     5.5  23.0  7.83      31  MIN@DET
21         Brad Keller     KC     3.5  22.1  8.06      26   CWS@KC
12      Patrick Corbin    WAS     5.9  23.1  8.10      28  WAS@NYY
20        Carlos Rodon    CWS    35.5   NaN   NaN      49   CWS@KC
22         Julio Urias    LAD    26.2   NaN   NaN      43  LAD@LAA

In [43]:
def yahoo_batters(df, batters):
    # filter to just hitters
    hits = df['Position'] != 'P'
    #overwrite df
    df = df[hits]
    # change nick name to name
    df.rename(columns={'Player':'Name'}, inplace=True)
    # merge 
    dfb = df.merge(batters, how='left', on='Name')
    return dfb

In [56]:
# create list for fitler, use teams that are facing bad pitcher
team_list = ['NYY', 'CWS', 'DET', 'OAK']

In [57]:
def team_batter2(team_list, dfb):
    # create filter with list
    team_filter = (dfb['Team'] == team_list[0]) | (dfb['Team'] == team_list[1]) |(dfb['Team'] == team_list[2]) |(dfb['Team'] == team_list[3])
    # new df with filter
    dfb2 = dfb[team_filter]
    # sort values by iso
    dfb2.sort_values(by=['SLG'], inplace=True, ascending=False, ignore_index=True)
    # handle injuries
    #dfb2['Injury Indicator'].fillna(0, inplace=True)
    # filter by injury = 0, overwrite existing dfb2
    #dfb2 = dfb2[dfb2['Injury Indicator'] == 0]
    # output just those values and salary
    return dfb2[['Name', 'Team', 'Position','FPPG_x', 'SLG',  'Salary']]

In [58]:
team_batter2(team_list,yahoo_batters(yahoo, batters))

C:\Users\phill\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-57-61d41b150821>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb2.sort_values(by=['SLG'], inplace=True, ascending=False, ignore_index=True)

                 Name Team Position  FPPG_x    SLG  Salary
0     Kyle Higashioka  NYY        C     6.7  0.706      17
1          Matt Olson  OAK       1B     9.0  0.628      18
2     Yermin Mercedes  CWS        C     8.2  0.628      19
3         Chad Pinder  OAK       2B     5.3  0.600       8
4         Aaron Judge  NYY       OF     8.2  0.562      22
5         Akil Baddoo  DET       OF     6.3  0.522      12
6   Giancarlo Stanton  NYY       OF    10.0  0.490      27
7        Tim Anderson  CWS       SS     9.3  0.480      20
8        Wilson Ramos  DET        C     5.9  0.471      11
9          Seth Brown  OAK       OF     4.3  0.468       7
10        Luis Robert  CWS       OF     7.4  0.463       7
11        Gio Urshela  NYY       3B     7.0  0.451      18
12        Sean Murphy  OAK        C     6.9  0.431      15
13       Niko Goodrum  DET       SS     6.7  0.419      15
14         Mark Canha  OAK       OF     8.8  0.417      15
15      Nick Madrigal  CWS       2B     6.8  0.412      17
16         Jed Lowrie  OAK       2B     7.4  0.408      15
17         Tyler Wade  NYY       SS     0.8  0.400       7
18       Nomar Mazara  DET       OF     5.0  0.395       8
19       Matt Chapman  OAK       3B     6.6  0.385      15
20     Mitch Moreland  OAK       1B     5.5  0.382      11
21  Jeimer Candelario  DET       3B     6.6  0.380      17
22         Adam Eaton  CWS       OF     7.6  0.380      15
23      Danny Mendick  CWS       SS     4.3  0.375      12
24       Rougned Odor  NYY       2B     6.1  0.373       7
25      Andrew Vaughn  CWS       OF     4.8  0.373      15
26   Stephen Piscotty  OAK       OF     4.6  0.350       8
27        DJ LeMahieu  NYY       2B     6.9  0.346      17
28          Mike Ford  NYY       1B     4.5  0.346      10
29       Zack Collins  CWS        C     5.3  0.342      10
30    Grayson Greiner  DET        C     3.4  0.321       9
31        Aaron Hicks  NYY       OF     6.2  0.315      14
32     Gleyber Torres  NYY       SS     5.8  0.296      14
33    Robbie Grossman  DET       OF     7.2  0.293      14
34      Clint Frazier  NYY       OF     4.7  0.284       9
35       Willi Castro  DET       2B     4.3  0.277      10
36    Yasmani Grandal  CWS        C     6.7  0.273      15
37    Jonathan Schoop  DET       1B     4.0  0.270       8
38     Miguel Cabrera  DET       1B     3.8  0.250       7
39          Tony Kemp  OAK       2B     3.7  0.242       7
40      Brett Gardner  NYY       OF     3.1  0.220       9
41      Aramis Garcia  OAK        C     2.7  0.216       7
42       Victor Reyes  DET       OF     3.3  0.216       8
43       JaCoby Jones  DET       OF     3.5  0.211       9
44      Harold Castro  DET       2B     2.8  0.206       7
45       Elvis Andrus  OAK       SS     3.2  0.191       7
46     Billy Hamilton  CWS       OF     2.4  0.176       7
47          Jake Lamb  CWS       3B     3.4  0.143       9
48       Gary Sanchez  NYY        C     5.4    NaN      11
49          Luke Voit  NYY       1B     9.8    NaN      18
50       Leury Garcia  CWS       OF     4.7    NaN      10
51         Jose Abreu  CWS       1B     7.6    NaN      18
52       Yoan Moncada  CWS       3B     7.3    NaN      18
53       Eloy Jimenez  CWS       OF     8.4    NaN       7
54         Adam Engel  CWS       OF     4.9    NaN       7
55     Ramon Laureano  OAK       OF     9.7    NaN      19
56       Austin Allen  OAK        C     0.0    NaN       7
57      Vimael Machin  OAK       2B     1.7    NaN       7